.box {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-btn{
  background-color: rgb(255, 255, 255);
  padding: 11px 20px;
  border-radius:  13px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.header-item{
  color: aliceblue;
}
.header-btn:hover{
  background-color: black;
  padding: 11px 20px;
  border-radius:  13px;
  color: aliceblue;
}
.header-img {
  font-family: Rotterburg Stylish FREE;
  font-size: 25px;
  font-weight: 400;
  line-height: 36.1px;
  text-align: left;
  width: 96px;
  height: 36px;
  top: 22px;
  left: 81.33px;
  gap: 0px;
  opacity: 0px;
}
.header-list {
  display: flex;
  align-items: center;
}
.header-link {
  padding-left: 20px;
}
.header-item {
  font-family: HelveticaNeueCyr;
  font-size: 16px;
  font-weight: 300;
  line-height: 23.1px;
  text-align: left;
}
